In [1]:
import pandas as pd

In [54]:
df = pd.read_excel('/Users/clcx/Documents/Calvin/CRM/Data copy/Non-Active/Bieron/2022-01-(02-03) bieron.xlsx')

In [55]:
df.head()

   18155770956   张超 安徽省安达五金机械有限公司   安达五金专营店
0  18321003298  汪于成    上海优华贸易有限公司   优华食品专营店
1  13681781842  童本银   苏州凯格朗贸易有限公司     阳科旗舰店
2  18621018197   陈毅    上海易美食品有限公司   易美食品专营店
3  15921228507  符明楼    上海正鸿食品有限公司  尚正鸿食品旗舰店
4  13827646630  叶发开  阳江市刘小歪商贸有限公司   庶州农社旗舰店

In [37]:
mycolumns = ['Phone Number','Boss Name','Company Name','Shop Name','Sales','Type']

In [6]:
df.columns.value_counts()

Phone Number    1
Boss Name       1
Company Name    1
Shop Name       1
Sales           1
Type            1
dtype: int64

In [7]:
df.shape[1]

6

In [9]:
df_total = pd.DataFrame(columns=mycolumns)

In [10]:
df_total.shape[1]

7

In [63]:
df.columns = mycolumns[:4]

In [64]:
df[mycolumns[-2:]] = ''

In [65]:
df.head()

   Phone Number Boss Name  Company Name Shop Name Sales Type
0   18321003298       汪于成    上海优华贸易有限公司   优华食品专营店
1   13681781842       童本银   苏州凯格朗贸易有限公司     阳科旗舰店
2   18621018197        陈毅    上海易美食品有限公司   易美食品专营店
3   15921228507       符明楼    上海正鸿食品有限公司  尚正鸿食品旗舰店
4   13827646630       叶发开  阳江市刘小歪商贸有限公司   庶州农社旗舰店

In [56]:
len(df.columns)

4

In [25]:
len(df_total.columns)

6

In [24]:
df_total = df_total.drop('No',axis=1)

In [29]:
df = df.rename(columns={'Boss Name':'Boss'})

In [40]:
import os

In [85]:
for folder, sub_folders, files in os.walk('/Users/clcx/Documents/Calvin/CRM/Data'):
    #for sub_fold in sub_folders:
    for f in files:
        if f.endswith('.xlsx'):
            print(os.path.join(folder, f))
            xx = pd.read_excel(os.path.join(folder, f))
            break

/Users/clcx/Documents/Calvin/CRM/Data/Active/Kezia/5.xlsx
/Users/clcx/Documents/Calvin/CRM/Data/Active/Jessica/5.xlsx
/Users/clcx/Documents/Calvin/CRM/Data/Active/Syanti/5.xlsx
/Users/clcx/Documents/Calvin/CRM/Data/Active/Feni/9.xlsx
/Users/clcx/Documents/Calvin/CRM/Data/Non-Active/Cliff/Data.xlsx
/Users/clcx/Documents/Calvin/CRM/Data/Non-Active/Bieron/2022-01-10 bieron.xlsx
/Users/clcx/Documents/Calvin/CRM/Data/Non-Active/Viardi/2.xlsx
/Users/clcx/Documents/Calvin/CRM/Data/Non-Active/Winna/03/58.xlsx
/Users/clcx/Documents/Calvin/CRM/Data/Non-Active/Winna/02/35.xlsx
/Users/clcx/Documents/Calvin/CRM/Data/Non-Active/Winna/01/19.xlsx
/Users/clcx/Documents/Calvin/CRM/Data/Non-Active/Winna/combined/combined03.xlsx

In [86]:
xx.head()

   Unnamed: 0  Phone Number Boss Name  Company Name Shop Name Sales Type
0           0   13761372385       洪元周    上海元周商贸有限公司  元周数码专营店    NaN  NaN
1           1   13818287427       盛秉杰  上海信风工艺礼品有限公司  信风模型旗舰店    NaN  NaN
2           2   18616635291       康菁菁   上海简安里服饰有限公司    江意旗舰店    NaN  NaN
3           3   18858379555       付计划    上海联琛服饰有限公司  hghg旗舰店    NaN  NaN
4           4   15221550017       周长松    上海梓澄贸易有限公司    巧帛旗舰店    NaN  NaN

In [67]:
df.shape[1] == len(mycolumns)

True