# datetime module

Python has the datetime module to help deal with timestamps in your code. Time values are represented with the time class. Times have attributes for hour, minute, second, and microsecond. They can also include time zone information. The arguments to initialize a time instance are optional, but the default of 0 is unlikely to be what you want.

## time
Let's take a look at how we can extract time information from the datetime module. We can create a timestamp by specifying datetime.time(hour,minute,second,microsecond)

In [42]:
import datetime

dateime.time itu cuma waktu jam dll aja, ga ada tanggal

In [43]:
import datetime

t = datetime.time(4, 20, 1)

# Let's show the different components
print(t)
print('hour  :', t.hour)
print('minute:', t.minute)
print('second:', t.second)
print('microsecond:', t.microsecond)
print('tzinfo:', t.tzinfo)

04:20:01
hour  : 4
minute: 20
second: 1
microsecond: 0
tzinfo: None

In [44]:
print(datetime.time.min)

00:00:00

In [45]:
print(datetime.time.max)

23:59:59.999999

In [46]:
print(datetime.time.resolution) # selisih max sama min

0:00:00.000001

In [47]:
mytime = datetime.time(2,20)

In [48]:
# kita cek menit sama jam
mytime.minute

20

In [49]:
mytime.hour

2

In [50]:
print(mytime)

02:20:00

In [51]:
# coba pake microseconds
mytime = datetime.time(22,3,1,123)

In [52]:
mytime.hour

22

In [53]:
mytime.microsecond

123

In [54]:
print(mytime)

22:03:01.000123

## Dates
datetime (as you might suspect) also allows us to work with date timestamps. Calendar date values are represented with the date class. Instances have attributes for year, month, and day. It is easy to create a date representing todayâ€™s date using the today() class method.

Let's see some examples:

In [55]:
today = datetime.date.today()
print(today)
print('ctime:', today.ctime())
print('tuple:', today.timetuple())
print('ordinal:', today.toordinal())
print('Year :', today.year)
print('Month:', today.month)
print('Day  :', today.day)

2022-01-18
ctime: Tue Jan 18 00:00:00 2022
tuple: time.struct_time(tm_year=2022, tm_mon=1, tm_mday=18, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=18, tm_isdst=-1)
ordinal: 738173
Year : 2022
Month: 1
Day  : 18

In [56]:
print('Earliest  :', datetime.date.min)
print('Latest    :', datetime.date.max)
print('Resolution:', datetime.date.resolution)

Earliest  : 0001-01-01
Latest    : 9999-12-31
Resolution: 1 day, 0:00:00

In [57]:
# datetime.date format nya european yyyy-mm-dd

In [58]:
today = datetime.date.today()

In [59]:
print(today)

2022-01-18

In [60]:
today.year

2022

In [61]:
today.month

1

In [62]:
today.day

18

In [63]:
today.ctime()

'Tue Jan 18 00:00:00 2022'

### Datetime.datetime
ini ada tanggal + jam

In [64]:
from datetime import datetime

In [65]:
mydatetime = datetime(2022,1,1,0,3,11)

In [66]:
print(mydatetime)

2022-01-01 00:03:11

In [67]:
# bisa replace juga
mydatetime = mydatetime.replace(year=2023)

In [68]:
# tahun nya berubah jadi 2023
print(mydatetime)

2023-01-01 00:03:11

# Arithmetic
We can perform arithmetic on date objects to check for time differences. For example:

In [69]:
# selisih 2 waktu
# bisa date, bisa datetime juga

In [70]:
from datetime import date

In [71]:
# date
d1 = date(1996,1,12)
d2 = date(1998,3,24)

In [72]:
d1

datetime.date(1996, 1, 12)

In [73]:
d2

datetime.date(1998, 3, 24)

In [76]:
result = d2-d1

In [78]:
type(result)

datetime.timedelta

In [92]:
result.days

802

In [97]:
print(result)

802 days, 0:00:00

In [93]:
# datetime
d1 = datetime(1996,1,12,23,1,2)
d2 = datetime(1998,3,24,2,1,3)

In [94]:
diff = d2 - d1

In [96]:
print(diff)

801 days, 3:00:01

In [98]:
diff.seconds

10801

In [100]:
# total = dimasukin 801 days nya juga
diff.total_seconds()

69217201.0