# Numbers

In [3]:
1/4

0.25

In [2]:
0.2-0.2

0.0

# Variables

In [4]:
a = 5

In [5]:
a

5

In [6]:
a = 10

In [7]:
a + a

20

In [8]:
type(a)

int

In [9]:
a = "jack"

In [10]:
type(a)

str

In [12]:
gaji = 1000
persenpajak = 0.2
pajak = gaji * persenpajak

In [13]:
pajak

200.0

# Strings

In [14]:
print ('hello')

hello

In [15]:
('hello')

'hello'

In [1]:
print ("hello\nworld")

hello
world

In [20]:
print ("hello"+"\t"+"world")

hello	world

In [21]:
print ("hello"+'\t'+"world")

hello	world

In [23]:
print ("\t")

In [24]:
len ('ajsdfjsadk')

10

In [25]:
mystring = "Calvin Linardy"

In [26]:
mystring

'Calvin Linardy'

In [27]:
mystring [0]

'C'

In [29]:
mystring [7]

'L'

In [30]:
mystring [-4]

'a'

In [31]:
mystring [7:]

'Linardy'

In [33]:
mystring[:6]

'Calvin'

In [34]:
mystring [3:10]

'vin Lin'

In [35]:
mystring [2:5]

'lvi'

In [36]:
mystring [::2]

'Cli iad'

In [40]:
alph = 'abcdefghijk'

In [41]:
alph [::]

'abcdefghijk'

:: itu semuanya, ::2 itu semuanya tapi longkap 2

In [42]:
alph [::2]

'acegik'

::3 longkap 3

In [43]:
alph [::3]

'adgj'

2:7:2 2-7 tapi longkap 2

In [44]:
alph [2:7:2]

'ceg'

::-1 reverse

In [45]:
alph [::-1]

'kjihgfedcba'

In [46]:
name = 'Calvin'

In [47]:
# name [0] = 'M'

In [48]:
last_name = name[1:]

In [49]:
last_name

'alvin'

In [50]:
'M' + last_name

'Malvin'

In [51]:
letter = 'z'

In [52]:
letter * 10

'zzzzzzzzzz'

In [56]:
x = 'Hello World'

In [57]:
x.upper()

'HELLO WORLD'

In [58]:
x.lower()

'hello world'

In [59]:
x.split()

['Hello', 'World']

In [60]:
xx = 'This is a string'

In [61]:
xx.split()

['This', 'is', 'a', 'string']

split('i') dipisah setiap ada huruf 'i'

In [63]:
xx.split('i')

['Th', 's ', 's a str', 'ng']

# String Formatting

##  .format() method

#### 'String here {} the also {} '.format('something1','something2')

In [65]:
print ('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [66]:
print ('The {} {} {}'.format('big','fat','liar'))

The big fat liar

In [67]:
print ('The {2} {2} {2}'.format('big','fat','liar'))

The liar liar liar

In [69]:
print ('The {b} {f} {f}'.format(b='big',f='fat',l='liar'))

The big fat fat

### Float formatting follows "{value:width.precision f}"
##### mainin precision aja yg penting (angka dibelakang koma)

#### contoh r = 1.128982719;
#### kalo {r:1.3f} hasilnya jadi 1.129

In [73]:
result = 100/1231

In [74]:
result

0.08123476848090982

In [78]:
print ('The result is {r:1.3f}'.format(r=result))

The result is 0.081

### coba mainin width

##### width cuma merubah jarak kolom yang mau di gunakan (setelah is sampai akhir)

In [79]:
print ('The result is {r:10.3f}'.format(r=result))

The result is      0.081

### coba mainin precision

##### ini yang penting, ganti jumlah angka dibelakang koma dengan pembulatan. jangan lupa f nya

In [80]:
print ('The result is {r:1.6f}'.format(r=result))

The result is 0.081235

## f-strings method

#### cuma tambahin f didepan lalu masukin variable kedalam {}

In [85]:
name = 'Calvin'
age = '22'

In [86]:
print (f'His name is {name} and he is {age} years old')

His name is Calvin and he is 22 years old

## List 

append,
pop,
sort,
reverse

In [91]:
my_list = [1,2,3]

In [92]:
type(my_list)

list

In [93]:
my_list = ['String',100,33.3]

In [94]:
len (my_list)

3

In [96]:
mylist = ['cow','pig','chicken']

In [97]:
mylist[1]

'pig'

In [98]:
mylist[0:]

['cow', 'pig', 'chicken']

In [100]:
herlist = ['bag','lipstick']

In [101]:
mylist + herlist

['cow', 'pig', 'chicken', 'bag', 'lipstick']

In [102]:
new_list = mylist + herlist

In [103]:
new_list

['cow', 'pig', 'chicken', 'bag', 'lipstick']

### Mutatable
##### bisa diubah isinya

In [105]:
new_list[0] = 'lamb'

In [106]:
new_list

['lamb', 'pig', 'chicken', 'bag', 'lipstick']

### append buat nambahin

In [107]:
new_list.append('mirror')

In [108]:
new_list

['lamb', 'pig', 'chicken', 'bag', 'lipstick', 'mirror']

### pop buat kurangin

In [109]:
new_list.pop()

'mirror'

In [110]:
new_list

['lamb', 'pig', 'chicken', 'bag', 'lipstick']

In [111]:
popped_item = new_list.pop()

In [113]:
popped_item

'lipstick'

In [114]:
new_list

['lamb', 'pig', 'chicken', 'bag']

In [115]:
new_list.pop(0)

'lamb'

In [116]:
new_list

['pig', 'chicken', 'bag']

In [117]:
new_list.pop(-1)

'bag'

### sort buat ngurutin

In [118]:
charlist = ['a','b','x','k','e']
numlist = [3,4,2,7,5]

In [119]:
charlist.sort()

In [120]:
charlist

['a', 'b', 'e', 'k', 'x']

## dont do this 
#### sorted_charlist bakal di deklarasi sbg None

In [121]:
sorted_charlist = charlist.sort()

In [122]:
sorted_charlist

In [124]:
type(sorted_charlist)

NoneType

In [125]:
None

## but do this

In [126]:
charlist.sort()
sorted_charlist = charlist

In [127]:
sorted_charlist

['a', 'b', 'e', 'k', 'x']

### reverse buat ngurutin terbalik

In [128]:
numlist.reverse()

In [129]:
numlist

[5, 7, 2, 4, 3]

## Dictionary

In [1]:
my_dict = {'key1':'value1','key2':'value2'}

In [3]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [6]:
hargabarang = {'buku':5000,'pensil':2000,'penghapus':3000}

In [7]:
hargabarang['buku']

5000

In [2]:
asd = {'k1':123,'k2':[1,2,3],'k3':{'b2':"Babi"}}

In [3]:
type(asd)

dict

In [4]:
asd['k1']

123

In [5]:
asd['k2']

[1, 2, 3]

In [6]:
asd['k3']

{'b2': 'Babi'}

### Stacking

In [17]:
asd['k3']['b2']

'Babi'

In [19]:
d = {'key1':['a','b','c']}

In [20]:
d['key1'][2].upper()

'C'

### bisa add new value ke dalem dict

In [21]:
new_d = {'k1':100,'k2':200}

In [22]:
new_d['k3'] = 300

In [23]:
new_d

{'k1': 100, 'k2': 200, 'k3': 300}

### bisa overwrite value juga

In [24]:
new_d['k1'] = '1000'

In [25]:
new_d

{'k1': '1000', 'k2': 200, 'k3': 300}

### tips

In [26]:
new_d = {'k1': 100, 'k2': 200, 'k3': 300}

In [28]:
new_d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [29]:
new_d.values()

dict_values([100, 200, 300])

In [31]:
new_d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

## Tuples
#### mirip bgt sama list, tapi gabisa di ubah(immutable) dan pake () bukan [ ]
#### buat beginner bakal jarang pake tuple tapi kalo udh advanced, sangat berguna untuk menghindari pengubahan value tanpa disengaja

In [42]:
t = (1,2,3)

In [34]:
mylist = [1,2,3]

In [35]:
type(t)

tuple

In [36]:
type(mylist)

list

In [37]:
mylist[0] = 'new'

In [38]:
mylist

['new', 2, 3]

In [39]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [44]:
t.index(2)

1

In [45]:
t.count(2)

1

## Sets
### buat cari unique values

In [60]:
sets = set()

In [61]:
type(sets)

set

In [49]:
sets

set()

In [50]:
sets.add(2)

In [51]:
sets

{2}

In [52]:
sets.add(1)

In [53]:
sets

{1, 2}

#### sets cuma unique value, walaupun ditambah lagi kalo udh ada gabakal bertambah, gabakal jadi 1,1,2, tapi bakal tetep 1,2, mau sbrp banyak pun 1 ato 2 nya

In [54]:
sets.add(1)

In [55]:
sets

{1, 2}

In [57]:
mylist = [1,6,5,3,8,5,5,5,2,2,3,4,4,3,5,5,7,8,9,8,7,7,5,5,5]

In [58]:
set(mylist)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [63]:
set('MississipPi')

{'M', 'P', 'i', 'p', 's'}

## Booleans
### True False huruf besar depannya

In [64]:
True

True

In [65]:
False

False

In [66]:
type(True)

bool

In [67]:
1 > 3

False

In [68]:
1 == 1

True

## Comparison

In [11]:
2 == 1

False

In [12]:
'bye' == 'hello'

False

In [13]:
'Bye' == 'bye'

False

In [14]:
'2' == 2

False

In [15]:
2.0 == 2

True

### Chaining comparison

In [16]:
1 < 2 < 3

True

In [17]:
1 < 2 > 3

False

#### kalo pake and harus 2-2nya true

In [18]:
1 < 2 and 2 > 3

False

#### kalo pake or salah satu aja true bisa

In [19]:
1 < 2 or 2 > 3

True

In [20]:
1 != 2

True

nanti bakalan lebih berguna pake 'not' daripada pake !=

In [21]:
not 1 == 2

True

## if, elif, else

In [24]:
stupidity = 60

if stupidity > 50:
    print ("GO STUDY!")
else:
    print ("YOU CAN PLAY!")

GO STUDY!

In [57]:
skin = "yellow"

In [58]:
if skin == "black":
    print("Whaddup NIGGA!")
elif skin == "white":
    print("Whaddup MATE")
elif skin == "brown":
    print("NEHI NEHI")
else:
    print("GO TO HELL")

GO TO HELL

## for loops 
#### penting banget perhatiin indentation (tab) karena kalo tabnya salah bakal masuk ke section yang salah

In [3]:
mylistx = [1,2,3,4,5,6,7,8,9,10]

In [4]:
for num in mylistx:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [5]:
for num in mylistx:
    #Check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [6]:
for num in mylistx:
    if num % 2 == 0:
        print(f'Even: {num}')
    else:
        print(f'Odd: {num}')

Odd: 1
Even: 2
Odd: 3
Even: 4
Odd: 5
Even: 6
Odd: 7
Even: 8
Odd: 9
Even: 10

### TIPS

ini penting nya ada indentation di bagian print,

In [7]:
listx_sum = 0

for num in mylistx:
    listx_sum = listx_sum + num
    
print(listx_sum)

55

kalo ga ada indentation(tab) jadi gini

In [8]:
listx_sum = 0

for num in mylistx:
    listx_sum = listx_sum + num
    
    print(listx_sum)

1
3
6
10
15
21
28
36
45
55

### For juga bisa buat string

In [9]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

ini common bgt orang pake _ buat ngeprint sesuatu sesuai jumlah string nya biar variable nya ga kepake

In [10]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [11]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [13]:
mylist_tup = [(1,2),(3,4),(5,6),(7,8)]

In [14]:
len(mylist_tup)

4

In [16]:
for item in mylist_tup:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

### tuple unpacking, jadi bisa di pisah printnya BAKAL SERING DIPAKE!!!

In [17]:
for a,b in mylist_tup:
    print(a)

1
3
5
7

In [19]:
for a,b in mylist_tup:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [20]:
mylist_tup3 = [(1,2,3),(4,5,6),(7,8,9)]

In [22]:
for a,b,c in mylist_tup3:
    print(b)

2
5
8

### for loop for dict

In [30]:
d = {'k1':1,'k2':2,'k3':3}

for i in d:
    print(i)

k1
k2
k3

In [35]:
for i in d.items(): #harus pake variable.items
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

key,value nya bisa juga di ganti jadi variable lain

In [36]:
for key,value in d.items():
    print(value)

1
2
3

bisa juga gini.
### kuncinya di var.items() atau var.values() atau var.keys()

In [37]:
for value in d.values():
    print(value)

1
2
3

In [38]:
for key in d.keys():
    print(key)

k1
k2
k3

##  while loop

#### syntax
while some_boolean_condition:
#do something

else:
#do something different

In [70]:
x = 0

In [71]:
while x < 5:
    print (f'The current value of x is {x}')
    
    x = x + 1
    # kalo ga sengaja kena infinite loop klik kernel lalu interrupt(Ctrl + C) ato restart

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [67]:
#x = x + 1   ==   x += 1

jadi kalo di while loop else bakal tetep jalan setelah kondisi di while nya sudah tidak benar

In [64]:
x = 1
while x < 5:
    print (f'The current value of x is {x}')
    
    x += 1
    
else:
    
    print ('X IS NOT LESS THAN 5')

The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

### break, continue, pass

##### We can use break, continue, and pass statement in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.

disini akan ada error karena indentation nya mengharapkan ada koding baru, tapi kita masukin comment akan error karena tidak ada kodingan baru. Jadi untuk mengabaikan errornya biasa dipake 'pass'

In [75]:
listxx = [1,2,3]

for i in listxx:
    # comment

SyntaxError: unexpected EOF while parsing (<ipython-input-75-c2835ade5a84>, line 4)

In [76]:
listxx = [1,2,3]

for i in listxx:
    # comment
    pass

kalo 'continue' buat mengabaikan, misal list nya dibawah, kita pengen mengabaikan 2, jadi tinggal if i == 2 aja dia bakal skip 2. intinya gitu. continue kaya skip sih kalo gw bilang. tapi inget printnya jangan di indentation(tab) yang sama kaya continue kalo ga bakalan ke skip/ ga jalan. skipnya itu langsung lanjut ulang ke next loop

In [77]:
listx = [1,2,3,4,5]

for i in listx:
    print(i)

1
2
3
4
5

In [80]:
listx = [1,2,3,4,5]

for i in listx:
    if i == 2:
        continue
    print(i)

1
3
4
5

kalo 'break' paling gampang di mengerti, dan sering dipake, intinya buat ngestopin. keluar dari loop

In [85]:
listx = [1,2,3,4,5]

for i in listx:
    if i == 4: #jadi dia bakal stop loopnya saat i nya sama dengan 4, berarti yang ke output cuma 1-3
        break
    print(i)

1
2
3

In [87]:
x = 0

while x < 5:
    print(x)
    
    x += 1

0
1
2
3
4

In [91]:
x = 0

while x < 5:
    if x == 3:
        break
    print(x)
    x += 1

0
1
2

### range operator
bisa pencet shift+tab didalem kurung range buat info

In [93]:
for num in range(10): #dia bakal ngeprint angka up to 10(ga termasuk 10)
    print(num)

0
1
2
3
4
5
6
7
8
9

In [94]:
for num in range(4,9): #dia bakal ngeprint mulai dari 4 sampe up to 9(ga termasuk 9)
    print (num)

4
5
6
7
8

In [96]:
for num in range(2,8,4): #dia bakal ngerprint mulai dari 2 sampe up to 8, dengan jarak 4
    print (num)

2
6

range ada lah "generator" = function that generated information instead of saving it to memory

In [98]:
range(2,10,2)

range(2, 10, 2)

In [99]:
list(range(2,10,2))

[2, 4, 6, 8]

### enumerate operator
buat pengulangan

In [1]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [2]:
index_count = 0
word = 'abcde'

for letter in word:
    
    print(word[index_count])
    index_count += 1

a
b
c
d
e

kalo pake ENUMERATE dia bakal ngehasilin tuple

In [3]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

bisa di unpack tuples nya

In [4]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [5]:
word = 'abcde'

for index,letter in enumerate(word):
    print(letter)

a
b
c
d
e

### zip operator
memasangkan list, pair up list

In [5]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

dia cuma ngasih tau hey zip lu ada di lokasi memory ini

In [6]:
zip(mylist1,mylist2)

harus begini

In [7]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

bisa juga lebih dari 2

In [8]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [10]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

kalo misal jumlahnya ganjil, dia bakal cuma pair up sesuai jumlah yg cukup. contoh

In [14]:
mylist1 = [1,2,3,3,3,2] #ada 6 item
mylist2 = ['a','h','b'] #cuma 3

for item in zip(mylist1,mylist2):
    print(item) #hasilnya pasti cuma 3 pasang

(1, 'a')
(2, 'h')
(3, 'b')

bisa juga ngubah zip jadi list

In [16]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'h'), (3, 'b')]

### in operator
buat ngecheck apakah sesuatu ada didalem

In [18]:
'x' in [1,2,3] #ngecek apakah x ada di dalem list ini

False

In [19]:
'x' in ['x','y','z']

True

In [21]:
'a' in 'calvin' #bisa buat string juga

True

In [24]:
'thekey' in {'thekey':123701} #bisa dictionary juga

True

In [27]:
d = {'thekey':12341}

12341 in d.values() #buat ngecek value

True

In [29]:
d = {'thekey':12341}

'thekey' in d.keys() #buat ngecek key

True

#### math operator

In [30]:
thelist = [1,23,4,5,6]

In [31]:
min(thelist)

1

In [32]:
max(thelist)

23

### random library

#### shuffle = buat ngeshuffle angka di list

In [47]:
from random import shuffle #udah ke import library shuffle

In [35]:
listoflist = [1,2,3,4,5,6,7,8,9,10]

In [37]:
shuffle(listoflist) #ini harus digunakan langsung, gabisa di tampung ke variable.

In [38]:
print(listoflist) #shuffle1

[10, 4, 5, 8, 6, 7, 2, 1, 3, 9]

In [40]:
random_list = shuffle(listoflist)
print(random_list) #ga akan keluar karena di tampung. typenya ada None

None

In [41]:
type(random_list)

NoneType

In [42]:
print(listoflist) #shuffle2

[6, 4, 9, 1, 5, 8, 7, 3, 10, 2]

In [44]:
shuffle(listoflist)

In [46]:
print(listoflist) #shuffle3, jadi setiap di shuffle hasilnya akan berubah lg

[9, 3, 2, 1, 8, 7, 10, 6, 5, 4]

#### randint = buat generate random integer

In [48]:
from random import randint

In [49]:
randint(0,100) #generate angka dengan range 0-100

17

In [50]:
randint(0,100)

62

In [52]:
mynum = randint(0,10) #yang ini bisa ditampung

In [53]:
mynum

3

semua hasil input adalah str

In [57]:
result = input('Enter a number here: ')

Enter a number here: 50

In [58]:
result

'50'

In [59]:
type(result)

str

In [60]:
float(result) #ngejadiin dari str jadi float

50.0

In [61]:
int(result) #jadiin int juga bisa

50

atau bisa cara cepetnya ngubah data type input

In [63]:
age= int(input('Type your age: '))

Type your age: 22

In [65]:
type(age) #langsung jadi int tanpa di convert

int

## list comprehension
ini cuma alternatif kalo gamau pake for loop

In [66]:
thestring = 'calvin'

ini cara classic

In [67]:
mylist = []

for letter in thestring:
    mylist.append(letter)

In [68]:
mylist

['c', 'a', 'l', 'v', 'i', 'n']

ini cara list comprehension

In [69]:
mylist = [letter for letter in thestring] #jadi kayak apa yg di append nya itu pindah ke paling depan, baris for nya sama

In [70]:
mylist

['c', 'a', 'l', 'v', 'i', 'n']

ini contoh2 nya

In [71]:
thelist = [asdfa for asdfa in 'wordtwo']

In [72]:
thelist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [73]:
mylist = [num for num in range(0,10)]

In [74]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
mylist = [num**2 for num in range(0,10)] #bisa pake math operator juga
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [78]:
evenlist = [x for x in range(0,11) if x%2 == 0] #bisa pake if juga
evenlist

[0, 2, 4, 6, 8, 10]

In [80]:
evensquarelist = [x**2 for x in range(0,11) if x%2 == 0]
evensquarelist

[0, 4, 16, 36, 64, 100]

contoh ngubah list celcius ke fahrenheit
rumus nya adalah (9/5 * celcius) + 32

In [81]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [82]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

ini kalo di jadiin for loop, biar keliatan bentuknya

In [88]:
celcius = [30,17,-3,300]
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)
    
fahrenheit

[86.0, 62.6, 26.6, 572.0]

#### cara menggunakan if else statement kedalam list comprehenssion
tapi tidak direcommend karena list comp hanya untuk one liner alias ngoding 1 baris, dan itu efisien, tapi tidak rapih dan sulit dibaca, jadi ini hanya untuk belajar saja, biasakan koding rapih, bukan singkat.

In [92]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)] #ordernya jadi berantakan dan sulit dibaca

In [91]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

ini bentuk for loopnya

jadi kepisah gini.

                    x       if x%2==0 else 'ODD'        for x in range(0,11)
biar ngerti

In [95]:
results = []

for x in range(0,11):
    if x%2 == 0:
        results.append(x)
    else:
        results.append('ODD')

In [96]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

#### nested loop didalam list comprehension

In [101]:
listlist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        listlist.append(x*y)

In [102]:
listlist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

ini bentuk list comp nya

In [105]:
listlist = [x*y for x in [2,4,6] for y in [1,10,1000]] #susah dibaca!

In [106]:
listlist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

## Method

In [107]:
thelist.pop()

'o'

In [109]:
thelist.append('o')

ini namanya method! karena method ada banyak banget, jadi buat explore caranya adalah ketik variable terus titik (contoh= thelist.  ) abis itu pencet TAB, nanti keluar banyak

In [113]:
#thelist.

kalo mau tau gimana pake methodnya, ketik methodnya misalkan (thelist.insert  ) lalu pencet shift+tab (hanya untuk jupyter notebook, kalo pake IDE lain gak bisa shift+tab, pake cara ini

In [115]:
help(thelist.insert) #dia bakal keluar petunjuknya sama kaya shift+tab

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

atau bisa buka python documentation di docs.python.org

explore sendiri

ato ga search google ato di stackoverflow

## Functions
biasa awalnya def = defining

biasa pake return instead of print

nama function kalo di python pake metode spasi di ganti underline.

contoh = name_of_student

bukan = NameOfStudent <- boleh aja cuma bukan standar buat dev python

In [135]:
def name_function():
    print("Hello")

In [141]:
help(name_function) #gaada informasi jadi susah dimengerti orang

Help on function name_function in module __main__:

name_function(name)

In [136]:
name_function

In [142]:
#jadi harus di tambahin doc string yaitu pake '''  '''
def name_function():
    '''
    DOCSTRING: Information about the function
    INPUT:no input...
    OUTPUT: Hello...
    
    '''
    print("Hello")

In [145]:
help(name_function) #skrg ada doc stringnya, jadi bisa dimengerti orang lain

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Information about the function
    INPUT:no input...
    OUTPUT: Hello...

In [146]:
name_function()

Hello

In [138]:
def name_function(name):
    print("Hello " + name)

In [139]:
name_function("Calvin")

Hello Calvin

beda nya print sama return, kalo return itu ga langsung di print tapi dia nampung dulu, contoh functionnya num1+num2, kalo print kan langsung keluar hasilnya, kalo return artinya hasil ditampung dulu, kalo dipanggil baru keluar, contoh

In [121]:
def add_function(num1,num2):
    print (num1+num2)

In [122]:
result = add_function(1,2) #langsung di print

3

In [124]:
#kalo return
def add_function(num1,num2):
    return num1+num2

In [125]:
result = add_function(1,2)

In [127]:
result #harus di panggil dulu

3

In [147]:
def say_hello(name):
    print('hello '+name)

In [148]:
say_hello() #error karena ga masukin parameter, atau ga masukin name kedalam kurung

TypeError: say_hello() missing 1 required positional argument: 'name'

In [149]:
say_hello('Calvin') #jadi harus di masukin dulu baru bisa

hello Calvin

untuk menghindari error, masukan default name pada functionnya agar kalo ga terisi dia ga error

In [150]:
def say_hello(name='NAME'): #default name
    print('hello '+name)

In [151]:
say_hello()

hello NAME

tapi setelah dia terisi, dia akan otomatis berubah sendiri!

In [153]:
say_hello('Anna')

hello Anna

In [154]:
result = say_hello('Jack')

hello Jack

In [155]:
result

ini karena kita pake print instead of return, jadi functionnya cuma ngeprint doank instead of meng-assign value ke variable

In [157]:
type(result)

NoneType

In [158]:
def say_hello(name='NAME'):
    return 'hello ' + name

In [159]:
result = say_hello('Calvin')

In [161]:
result #kalo pake RETURN baru bisa di tampung atau di assign ke variable

'hello Calvin'

In [162]:
def add(n1,n2):
    return n1+n2

In [163]:
result = add(20,30)

In [164]:
result

50

In [165]:
type(result)

int

In [8]:
def even_check(num):
    result = num % 2 == 0
    return result

In [9]:
even_check(20)

True

In [10]:
even_check(21)

False

bisa dipersimple jadi kaya gini, jadi gausah duplicate line.

In [11]:
def even_check(num):
    return num % 2 == 0

In [12]:
#Retun true if any number is even inside a list

In [13]:
def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

In [15]:
check_even_list([1,3,5]) #gaada even jadi nya pass ga return apa2

In [16]:
check_even_list([2,4])

True

In [17]:
check_even_list([1,3,2])

True

skrg kita coba buat kalau odd return false instead of pass

kebanyakan beginner bakalan buat kesalahan denga masukin return false di else kaya gini:

In [19]:
def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            return False
#Ini salah!!!

kenapa salah? karena dia masih di dalam for loop, jadi waktu dia ngecek angka dalam list 1-1 dia akan selalu return. contohnya gini

In [22]:
check_even_list([2,1,3]) #Ini bisa jalan kan

True

In [23]:
check_even_list([1,3,5]) #Ini juga bisa

False

In [26]:
check_even_list([1,2,3]) #Tapi ini ga bisa padahal jelas2 ada even, dia malah false.
#karena dia lewatin for loop dan ngelewatin angka pertama dulu yaitu 1 (odd)

False

jadi yang bener itu harusnya return false nya itu diluar for loop, seletah semua angka udah di check didalem for loop baru return false diluar.

In [27]:
def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
    
    return False
#Ini baru bener!!

In [29]:
#kita coba 1,2,3 kaya yang tadi fail
check_even_list([1,2,3])

True

Berhasil!!

In [32]:
#More indentation
def check_even_number(num_list):
#masukkin semua even ke dalem list baru

#placeholder variables
    even_numbers = []

    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [33]:
check_even_number([1,2,3,4,5])

[2, 4]

In [34]:
check_even_number([1,3,5])

[]

### Tuple unpacking with function

##### contoh-contoh simple:

In [36]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [37]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [38]:
for ticker,price in stock_prices:
    print(price+(price*0.2))

240.0
480.0
120.0

In [40]:
work_hours = [('Abby',100),('Jovan',200),('Ella',400)]

In [43]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    #Return
    return(employee_of_month, current_max)

In [44]:
employee_check(work_hours)

('Ella', 400)

In [45]:
work_hours = [('Abby',1000),('Jovan',200),('Ella',400)]

In [46]:
employee_check(work_hours)

('Abby', 1000)

bisa dipisah kaya gini juga

In [47]:
name,hours = employee_check(work_hours)

In [48]:
name

'Abby'

In [49]:
hours

1000

#### tips: kadang kita ga gitu jelas sama apa yang di return sama function tertentu, misal kaya function di atas kita tau dia return nama sama jam kerja (employee, work_hours), tapi kadang kita waktu ngoding gatau apa yang bakalan di return, jadi bakalan terjadi kesalahan kaya gini:

##### contoh: kita kira function di atas bakal return nama, jam kerja, sama location

In [50]:
name,hours,location = employee_check(work_hours)

ValueError: not enough values to unpack (expected 3, got 2)

##### bakal muncul error kaya gini, expected 3 karena kita minta 3, got 2 karena ternyata cuma return 2 values. jadi cara gampang biar kita tau adalah kita ngecek aja (explore) functionnya return berapa dan apa

In [51]:
item = employee_check(work_hours)

In [53]:
item #dari sini kita tau kalo function ini return 2 value, yaitu nama sama angka

('Abby', 1000)

## Interactions between functions

#### Di topik kali ini kita pake contoh game three cups monte, yaitu game yang bola merah ada di salah satu dari 3 cups, terus di shuffle abis itu tebak.

In [4]:
example = [1,2,3,4,5,6,7]

##### import library shuffle dari module random

In [5]:
from random import shuffle

In [6]:
shuffle(example) #ga return apa2, cuma ngeshuffle aja

In [7]:
example #udah ke shuffle

[7, 3, 1, 5, 6, 4, 2]

##### bukti shuffle ga return apa2

In [8]:
result = shuffle(example) #ga return apa2

In [9]:
result

##### jadi bikin function yang bisa shuffle terus return

In [10]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [11]:
result = shuffle_list(example)

In [12]:
result

[3, 2, 4, 7, 6, 5, 1]

#### sekarang pake contoh 3 cups monte dimana nanti user bisa masukin input guess

In [13]:
mylist = [' ','O',' ']

In [14]:
shuffle_list(mylist)

[' ', ' ', 'O']

In [15]:
def player_guess():
    guess = ''
    while guess not in ['0','1','2']:
        guess = input ("Pick a number : 0, 1, or 2 = ")
        
    return int(guess) #hasil guess yang di input dalam bentuk string, jadi di jadiin int biar bisa dipake

###### kalo input ga sesuai dia bakal terus nanya

In [16]:
player_guess()

Pick a number : 0, 1, or 2 = 8
Pick a number : 0, 1, or 2 = 1

1

In [17]:
my_index = player_guess()

Pick a number : 0, 1, or 2 = 1

In [18]:
my_index #variable tampung

1

tinggal butuh 1 function lagi buat gabungin list bola nya sama input guess

In [19]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print("Correct")
    else:
        print("Wrong guess!")
        print(mylist)

#### jadi udah umum kalo kita bikin/nyiapin banyak function def di atas dulu, lalu baru gabungin dibawah pake logic menjadi 1 def function

In [20]:
# INITIAL LIST
mylist = [' ','O',' ']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

# USER GUESS
guess = player_guess()

# CHECK GUESS
check_guess(mixedup_list,guess)

Pick a number : 0, 1, or 2 = 8
Pick a number : 0, 1, or 2 = 2
Wrong guess!
[' ', 'O', ' ']

In [21]:
# Find out if the word "dog" is in a string?

In [166]:
def dog_check(dogstr):
    if 'dog' in dogstr:
        return True
    else:
        return False

In [167]:
dog_check('My dog is lost')

True

In [168]:
dog_check('My cat is lost')

False

In [169]:
dog_check('Dog is lost') #malah salah karena D nya kapital.

False

In [170]:
def dog_check(dogstr):
    if 'dog' in dogstr.lower(): #biar kapital juga bisa di bedain
        return True
    else:
        return False

In [171]:
dog_check('Dog is lost')

True

### btw kalo masih ngetik kodingan yang dog_check diatas kaya gitu, masih beginner banget.

In [173]:
'dog' in 'dog ran away' #ini termasuk boolean

True

jadi sebenernya boolean gaperlu if statement.

Ini dia pro version nya!!!

In [174]:
def dog_check(dogstr):
    return 'dog' in dogstr.lower()

Contoh solving problem with function

## PIG LATIN
#### -If word starts with a vowel, add 'ay' to end
#### -If word does not start with a vowel, put first letter at the end, then add 'ay'
#### -word --> ordway
#### -apple --> appleay

In [175]:
def pig_latin(word):
    
    first_letter = word[0]
    
    #check if vowel
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
        
    return pig_word

In [176]:
pig_latin('apple')

'appleay'

In [177]:
pig_latin('word')

'ordway'

##  * args and **kwargs

In [178]:
def thefunc(a,b):
    # Returns 5% of the sum of a and b
    return sum((a,b)) * 0.05

In [179]:
thefunc(40,60)

5.0

gimana kalo kita mau pake lebih dari 2 atau banyak argument? 

bisa aja dengan kita tambahin parameternya jadi (a,b,c)

tapi takutnya yg di input cuma a,b

ok, jadi kita bisa assign c default nya 0, jadi kalo misal cuma dimasukin a dan b ga error

In [180]:
def thefunc(a,b,c=0):
    return sum((a,b)) * 0.05

gimana kalo mau 4?

In [181]:
def thefunc(a,b,c=0,d=0):
    return sum((a,b)) * 0.05

dan seterusnya

tapi ini semua ada limitnya!

In [182]:
#inilah gunanya *args. kita masukin *args ke argument untuk input lebih dari 1 dan ga menentu

In [187]:
def thefunc(*args):
    return sum(args) * 0.05

In [188]:
thefunc(1,2,3,4,5,6,7,4,6,4)

2.1

In [191]:
def thefunc(*args):
    print(args) #args bakal dijadiin dalam bentuk tuple

In [193]:
thefunc(1,2,3,4)

(1, 2, 3, 4)

dan btw kita ga harus selalu pake kata 'args' , kita bisa pake apa aja selama di depannya diikuti 1 bintang(*), contoh!

In [195]:
def thefunc(*booob):
    print(booob)

In [198]:
thefunc(1,2,3,4)

(1, 2, 3, 4)

bisa kan... tapi kalo bisa pake args aja, biar orang lain ga bingung juga

In [199]:
def thefunc(*args):
    for item in args:
        print(item)

In [200]:
thefunc(100,200,300)

100
200
300

#### kalo args itu hasilin tuple, kalo kwargs itu hasilin dictionary
args = arguments

kwargs = keyword arguments

In [201]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [203]:
myfunc(fruit='apple')

My fruit of choice is apple

In [205]:
myfunc(fruit='apple', veggie='lettuce') #python ga akan complain atau error karena ini dict

My fruit of choice is apple

In [207]:
def myfunc(**kwargs):
    print(kwargs) #kita coba liat bentuk kwargs

In [209]:
myfunc(fruit='apple', veggie='lettuce') #dictionary lah bentuknya}

{'fruit': 'apple', 'veggie': 'lettuce'}

jadi semua parameter bisa dipake dan dicall nantinya di dalem function tersebut

dan semua kwargs juga bisa di ganti sesuka kita sama dengan args dan diawali dengan 2 bintang(**)

In [210]:
def myfunc(**jelly):
    print(jelly)

In [211]:
myfunc(x=10,y=20)

{'x': 10, 'y': 20}

bisa kan... tapi ya kalo bisa pake kwargs juga aja.

### bisa di kombinasi juga

In [214]:
def myfunc(*args,**kwargs):
     print('I would like {} {}'.format(args[0],kwargs['lunch']))

In [215]:
myfunc(10,20,30,breakfast='salad',lunch='fried rice',dinner='omelet')

I would like 10 fried rice

In [216]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['lunch']))

In [217]:
myfunc(10,20,30,breakfast='salad',lunch='fried rice',dinner='omelet')

(10, 20, 30)
{'breakfast': 'salad', 'lunch': 'fried rice', 'dinner': 'omelet'}
I would like 10 fried rice

bisa di lihat hasilnya... skrg mungkin masih agak bingung penggunaan args dan kwargs, tapi nanti bakalan sering dipake dan bakalan sangat powerful dan membantu sekali.

### Bonus
#### ini soal functions #10 Skyline yang ada di udemy
ini hasil nya tanpa dan dengan list comp

Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. Assume that the incoming string only contains letters, and don't worry about numbers, spaces, or punctuation. The output string can start with either an uppercase or lowercase letter, so long as lettes alternate throughout the string.

## tanpa list comp

In [219]:
def myfunc(mystring):
    out = []
    for i in range(len(mystring)):
        if i%2 == 0:
            out.append(mystring[i].lower())
        else:
            out.append(mystring[i].upper())
    return "".join(out)

In [220]:
myfunc('CalvinLinardy')

'cAlViNlInArDy'

## dengan list comp 
agak panjang dan berantakan, jadi mending pake tanpa list comp aja

In [221]:
def myfunc(mystring):
    return "".join([mystring[i].lower() if i%2 == 0 else mystring[i].upper() for i in range(len(mystring))])

In [222]:
myfunc('Antetoukounmpo')

'aNtEtOuKoUnMpO'

## INI KONSEP JOIN!!
buat satuin list jadi string

In [223]:
mylist = ['a','b','c']

In [224]:
"--".join(mylist)

'a--b--c'

In [226]:
" ".join(mylist)

'a b c'

In [227]:
"".join(mylist)

'abc'

In [228]:
'oooooo'.join(mylist)

'aoooooobooooooc'