# Numbers

In [3]:
1/4

0.25

In [2]:
0.2-0.2

0.0

# Variables

In [4]:
a = 5

In [5]:
a

5

In [6]:
a = 10

In [7]:
a + a

20

In [8]:
type(a)

int

In [9]:
a = "jack"

In [10]:
type(a)

str

In [12]:
gaji = 1000
persenpajak = 0.2
pajak = gaji * persenpajak

In [13]:
pajak

200.0

# Strings

In [14]:
print ('hello')

hello

In [15]:
('hello')

'hello'

In [19]:
print ("hello\tworld")

hello	world

In [20]:
print ("hello"+"\t"+"world")

hello	world

In [21]:
print ("hello"+'\t'+"world")

hello	world

In [23]:
print ("\t")

In [24]:
len ('ajsdfjsadk')

10

In [25]:
mystring = "Calvin Linardy"

In [26]:
mystring

'Calvin Linardy'

In [27]:
 mystring [0]

'C'

In [29]:
mystring [7]

'L'

In [30]:
mystring [-4]

'a'

In [31]:
mystring [7:]

'Linardy'

In [33]:
mystring[:6]

'Calvin'

In [34]:
mystring [3:10]

'vin Lin'

In [35]:
mystring [2:5]

'lvi'

In [36]:
mystring [::2]

'Cli iad'

In [40]:
alph = 'abcdefghijk'

In [41]:
alph [::]

'abcdefghijk'

:: itu semuanya, ::2 itu semuanya tapi longkap 2

In [42]:
alph [::2]

'acegik'

::3 longkap 3

In [43]:
alph [::3]

'adgj'

2:7:2 2-7 tapi longkap 2

In [44]:
alph [2:7:2]

'ceg'

::-1 reverse

In [45]:
alph [::-1]

'kjihgfedcba'

In [46]:
name = 'Calvin'

In [47]:
# name [0] = 'M'

In [48]:
last_name = name[1:]

In [49]:
last_name

'alvin'

In [50]:
'M' + last_name

'Malvin'

In [51]:
letter = 'z'

In [52]:
letter * 10

'zzzzzzzzzz'

In [56]:
x = 'Hello World'

In [57]:
x.upper()

'HELLO WORLD'

In [58]:
x.lower()

'hello world'

In [59]:
x.split()

['Hello', 'World']

In [60]:
xx = 'This is a string'

In [61]:
xx.split()

['This', 'is', 'a', 'string']

split('i') dipisah setiap ada huruf 'i'

In [63]:
xx.split('i')

['Th', 's ', 's a str', 'ng']

# String Formatting

##  .format() method

#### 'String here {} the also {} '.format('something1','something2')

In [65]:
print ('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [66]:
print ('The {} {} {}'.format('big','fat','liar'))

The big fat liar

In [67]:
print ('The {2} {2} {2}'.format('big','fat','liar'))

The liar liar liar

In [69]:
print ('The {b} {f} {f}'.format(b='big',f='fat',l='liar'))

The big fat fat

### Float formatting follows "{value:width.precision f}"
##### mainin precision aja yg penting (angka dibelakang koma)

#### contoh r = 1.128982719;
#### kalo {r:1.3f} hasilnya jadi 1.129

In [73]:
result = 100/1231

In [74]:
result

0.08123476848090982

In [78]:
print ('The result is {r:1.3f}'.format(r=result))

The result is 0.081

### coba mainin float

##### float cuma merubah jarak kolom yang mau di gunakan (setelah is sampai akhir)

In [79]:
print ('The result is {r:10.3f}'.format(r=result))

The result is      0.081

### coba mainin precision

##### ini yang penting, ganti jumlah angka dibelakang koma dengan pembulatan. jangan lupa f nya

In [80]:
print ('The result is {r:1.6f}'.format(r=result))

The result is 0.081235

## f-strings method

#### cuma tambahin f didepan lalu masukin variable kedalam {}

In [85]:
name = 'Calvin'
age = '22'

In [86]:
print (f'His name is {name} and he is {age} years old')

His name is Calvin and he is 22 years old

## List 

append,
pop,
sort,
reverse

In [91]:
my_list = [1,2,3]

In [92]:
type(my_list)

list

In [93]:
my_list = ['String',100,33.3]

In [94]:
len (my_list)

3

In [96]:
mylist = ['cow','pig','chicken']

In [97]:
mylist[1]

'pig'

In [98]:
mylist[0:]

['cow', 'pig', 'chicken']

In [100]:
herlist = ['bag','lipstick']

In [101]:
mylist + herlist

['cow', 'pig', 'chicken', 'bag', 'lipstick']

In [102]:
new_list = mylist + herlist

In [103]:
new_list

['cow', 'pig', 'chicken', 'bag', 'lipstick']

### Mutatable
##### bisa diubah isinya

In [105]:
new_list[0] = 'lamb'

In [106]:
new_list

['lamb', 'pig', 'chicken', 'bag', 'lipstick']

### append buat nambahin

In [107]:
new_list.append('mirror')

In [108]:
new_list

['lamb', 'pig', 'chicken', 'bag', 'lipstick', 'mirror']

### pop buat kurangin

In [109]:
new_list.pop()

'mirror'

In [110]:
new_list

['lamb', 'pig', 'chicken', 'bag', 'lipstick']

In [111]:
popped_item = new_list.pop()

In [113]:
popped_item

'lipstick'

In [114]:
new_list

['lamb', 'pig', 'chicken', 'bag']

In [115]:
new_list.pop(0)

'lamb'

In [116]:
new_list

['pig', 'chicken', 'bag']

In [117]:
new_list.pop(-1)

'bag'

### sort buat ngurutin

In [118]:
charlist = ['a','b','x','k','e']
numlist = [3,4,2,7,5]

In [119]:
charlist.sort()

In [120]:
charlist

['a', 'b', 'e', 'k', 'x']

## dont do this 
#### sorted_charlist bakal di deklarasi sbg None

In [121]:
sorted_charlist = charlist.sort()

In [122]:
sorted_charlist

In [124]:
type(sorted_charlist)

NoneType

In [125]:
None

## but do this

In [126]:
charlist.sort()
sorted_charlist = charlist

In [127]:
sorted_charlist

['a', 'b', 'e', 'k', 'x']

### reverse buat ngurutin terbalik

In [128]:
numlist.reverse()

In [129]:
numlist

[5, 7, 2, 4, 3]

## Dictionary

In [1]:
my_dict = {'key1':'value1','key2':'value2'}

In [3]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [6]:
hargabarang = {'buku':5000,'pensil':2000,'penghapus':3000}

In [7]:
hargabarang['buku']

5000

In [16]:
asd = {'k1':123,'k2':[1,2,3],'k3':{'b2':"Babi"}}

In [11]:
type(asd)

dict

In [12]:
asd['k1']

123

In [13]:
asd['k2']

[1, 2, 3]

In [18]:
asd['k3']

{'b2': 'Babi'}

### Stacking

In [17]:
asd['k3']['b2']

'Babi'

In [19]:
d = {'key1':['a','b','c']}

In [20]:
d['key1'][2].upper()

'C'

### bisa add new value ke dalem dict

In [21]:
new_d = {'k1':100,'k2':200}

In [22]:
new_d['k3'] = 300

In [23]:
new_d

{'k1': 100, 'k2': 200, 'k3': 300}

### bisa overwrite value juga

In [24]:
new_d['k1'] = '1000'

In [25]:
new_d

{'k1': '1000', 'k2': 200, 'k3': 300}

### tips

In [26]:
new_d = {'k1': 100, 'k2': 200, 'k3': 300}

In [28]:
new_d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [29]:
new_d.values()

dict_values([100, 200, 300])

In [31]:
new_d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

## Tuples
#### mirip bgt sama list, tapi gabisa di ubah(immutable) dan pake () bukan []
#### buat beginner bakal jarang pake tuple tapi kalo udh advanced, sangat berguna untuk menghindari pengubahan value tanpa disengaja

In [42]:
t = (1,2,3)

In [34]:
mylist = [1,2,3]

In [35]:
type(t)

tuple

In [36]:
type(mylist)

list

In [37]:
mylist[0] = 'new'

In [38]:
mylist

['new', 2, 3]

In [39]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [44]:
t.index(2)

1

In [45]:
t.count(2)

1

## Sets
### buat cari unique values

In [60]:
sets = set()

In [61]:
type(sets)

set

In [49]:
sets

set()

In [50]:
sets.add(2)

In [51]:
sets

{2}

In [52]:
sets.add(1)

In [53]:
sets

{1, 2}

#### sets cuma unique value, walaupun ditambah lagi kalo udh ada gabakal bertambah, gabakal jadi 1,1,2, tapi bakal tetep 1,2, mau sbrp banyak pun 1 ato 2 nya

In [54]:
sets.add(1)

In [55]:
sets

{1, 2}

In [57]:
mylist = [1,6,5,3,8,5,5,5,2,2,3,4,4,3,5,5,7,8,9,8,7,7,5,5,5]

In [58]:
set(mylist)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [63]:
set('MississipPi')

{'M', 'P', 'i', 'p', 's'}

## Booleans
### True False huruf besar depannya

In [64]:
True

True

In [65]:
False

False

In [66]:
type(True)

bool

In [67]:
1 > 3

False

In [68]:
1 == 1

True